body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

#sankey {
  height: 100%;
}

#header {
  color: #fff;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  background-color: #d90000d5;
  height: 60px;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6em;
  font-weight: 700;
  text-transform: uppercase;
}

#logodiv {
  background-color: #fff;
  height: 60px;
  width: 60px;
}

.card {
  padding: 1em;
  background-color: rgb(86, 86, 86);
  border-radius: 10px;
  margin: 0.5em 2em;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.axisWhite line{
  stroke: #fff;
}

.axisWhite path{
  stroke: white;
}

.axisWhite text{
  fill: white;
  /* font-weight: bold; */
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
}

.axisLabel {
  fill: #bdbdbd;
  font-family: 'Montserrat', sans-serif;
  font-weight:550;
  font-size: 14px;

}

.parent {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  .div1 { grid-area: 1 / 1 / 7 / 4; }
  .div2 { grid-area: 1 / 4 / 4 / 6; }
  .div3 { grid-area: 4 / 4 / 7 / 6; }
  .div4 { grid-area: 1 / 6 / 4 / 9; }
  .div5 { grid-area: 4 / 6 / 7 / 10; }
  .div6 { grid-area: 1 / 9 / 4 / 10; }
